# 0. Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Identificando dados ausentes/missing](#identificando)
4. [Tratando dados ausentes/missing](#tratando)
5. [Dados duplicados](#duplicados)
6. [Mapeamento](#map)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A  -99.002446  -64.959149   28.637396 -165.095642
B -144.796471 -226.804020   30.496298  -24.099524
C   88.646255  -78.425916   34.464924   10.522183
D   69.934751   35.784802   64.127642  116.429591
E -139.170604    6.446556 -225.010922  121.058820
F   -7.967571 -198.147357  -52.027058   13.537299
G -157.977028   42.782907   43.786936  133.223282
H  -11.712393  200.543419   70.777571   15.182486
I   51.134738   92.137829 -101.380761   67.610858

In [3]:
df.dtypes

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

## Alterando os tipos de dados

In [4]:
df['coluna1'] = df['coluna1'].astype(int)

In [5]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

In [6]:
df['coluna3'] = df['coluna3'].astype(str)

In [9]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [10]:
df

   coluna1     coluna2              coluna3     coluna4
A      -99  -64.959149   28.637396027854734 -165.095642
B     -144 -226.804020    30.49629809112397  -24.099524
C       88  -78.425916    34.46492351481435   10.522183
D       69   35.784802    64.12764185955815  116.429591
E     -139    6.446556  -225.01092186794614  121.058820
F       -7 -198.147357   -52.02705783208168   13.537299
G     -157   42.782907    43.78693589411433  133.223282
H      -11  200.543419    70.77757103958568   15.182486
I       51   92.137829  -101.38076128298704   67.610858

## Acrescentando dados faltantes na tabela

In [11]:
df.iloc[4,2]

'-225.01092186794614'

In [12]:
df.iloc[4,2] = np.nan

In [13]:
df

   coluna1     coluna2              coluna3     coluna4
A      -99  -64.959149   28.637396027854734 -165.095642
B     -144 -226.804020    30.49629809112397  -24.099524
C       88  -78.425916    34.46492351481435   10.522183
D       69   35.784802    64.12764185955815  116.429591
E     -139    6.446556                  NaN  121.058820
F       -7 -198.147357   -52.02705783208168   13.537299
G     -157   42.782907    43.78693589411433  133.223282
H      -11  200.543419    70.77757103958568   15.182486
I       51   92.137829  -101.38076128298704   67.610858

In [14]:
df.iloc[1,0] = np.nan
df.iloc[4,0] = np.nan
df.iloc[3,0] = np.nan
df.iloc[8,0] = np.nan
df.iloc[6,0] = np.nan
df.iloc[4,3] = np.nan
df.iloc[4,3] = np.nan
df.iloc[8,3] = np.nan

In [15]:
df

   coluna1     coluna2              coluna3     coluna4
A    -99.0  -64.959149   28.637396027854734 -165.095642
B      NaN -226.804020    30.49629809112397  -24.099524
C     88.0  -78.425916    34.46492351481435   10.522183
D      NaN   35.784802    64.12764185955815  116.429591
E      NaN    6.446556                  NaN         NaN
F     -7.0 -198.147357   -52.02705783208168   13.537299
G      NaN   42.782907    43.78693589411433  133.223282
H    -11.0  200.543419    70.77757103958568   15.182486
I      NaN   92.137829  -101.38076128298704         NaN

In [16]:
# Os tipos de dados podem mudar após acrescentar um dado faltante
df.dtypes

coluna1    float64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

# 3. Identificando dados ausentes <a name="identificando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [17]:
df.isna()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [18]:
# Alias do isna
df.isnull()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [19]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [20]:
df[df['coluna1'].isna()]

   coluna1     coluna2              coluna3     coluna4
B      NaN -226.804020    30.49629809112397  -24.099524
D      NaN   35.784802    64.12764185955815  116.429591
E      NaN    6.446556                  NaN         NaN
G      NaN   42.782907    43.78693589411433  133.223282
I      NaN   92.137829  -101.38076128298704         NaN

In [21]:
df[~df['coluna1'].isna()]

   coluna1     coluna2             coluna3     coluna4
A    -99.0  -64.959149  28.637396027854734 -165.095642
C     88.0  -78.425916   34.46492351481435   10.522183
F     -7.0 -198.147357  -52.02705783208168   13.537299
H    -11.0  200.543419   70.77757103958568   15.182486

In [22]:
df['coluna1']

A   -99.0
B     NaN
C    88.0
D     NaN
E     NaN
F    -7.0
G     NaN
H   -11.0
I     NaN
Name: coluna1, dtype: float64

In [23]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [24]:
df['coluna1'].isna().sum()

5

In [25]:
df.isna().sum()

coluna1    5
coluna2    0
coluna3    1
coluna4    2
dtype: int64

In [26]:
df['coluna2']

A    -64.959149
B   -226.804020
C    -78.425916
D     35.784802
E      6.446556
F   -198.147357
G     42.782907
H    200.543419
I     92.137829
Name: coluna2, dtype: float64

In [27]:
df['coluna2'].isna().sum()

0

In [28]:
percentage = (df.isnull().sum() / len(df)) * 100
percentage

coluna1    55.555556
coluna2     0.000000
coluna3    11.111111
coluna4    22.222222
dtype: float64

# 4. Tratando dados ausentes <a name="tratando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [29]:
df['coluna1']

A   -99.0
B     NaN
C    88.0
D     NaN
E     NaN
F    -7.0
G     NaN
H   -11.0
I     NaN
Name: coluna1, dtype: float64

## Substituindo por 0

In [30]:
df['coluna1'].fillna(0)

A   -99.0
B     0.0
C    88.0
D     0.0
E     0.0
F    -7.0
G     0.0
H   -11.0
I     0.0
Name: coluna1, dtype: float64

## Substituindo pela média

In [31]:
df['coluna1']

A   -99.0
B     NaN
C    88.0
D     NaN
E     NaN
F    -7.0
G     NaN
H   -11.0
I     NaN
Name: coluna1, dtype: float64

In [32]:
(-23.0-132.0+94.0+0)/4

-15.25

In [33]:
df['coluna1'].mean()

-7.25

In [34]:
med_col1 = df['coluna1'].mean()

In [35]:
df['coluna1'].fillna(med_col1)

A   -99.00
B    -7.25
C    88.00
D    -7.25
E    -7.25
F    -7.00
G    -7.25
H   -11.00
I    -7.25
Name: coluna1, dtype: float64

## Substituindo pela mediana

In [36]:
df['coluna1']

A   -99.0
B     NaN
C    88.0
D     NaN
E     NaN
F    -7.0
G     NaN
H   -11.0
I     NaN
Name: coluna1, dtype: float64

In [37]:
df['coluna1'].sort_values()

A   -99.0
H   -11.0
F    -7.0
C    88.0
B     NaN
D     NaN
E     NaN
G     NaN
I     NaN
Name: coluna1, dtype: float64

In [38]:
(-77-33)/2

-55.0

In [39]:
df['coluna1'].median()

-9.0

In [40]:
mediana_col1 = df['coluna1'].median()

In [41]:
df['coluna1'].fillna(mediana_col1)

A   -99.0
B    -9.0
C    88.0
D    -9.0
E    -9.0
F    -7.0
G    -9.0
H   -11.0
I    -9.0
Name: coluna1, dtype: float64

In [42]:
df['coluna1'].fillna(method='ffill')

C:\Users\robno\AppData\Local\Temp\ipykernel_56300\110958190.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['coluna1'].fillna(method='ffill')

A   -99.0
B   -99.0
C    88.0
D    88.0
E    88.0
F    -7.0
G    -7.0
H   -11.0
I   -11.0
Name: coluna1, dtype: float64

In [43]:
df['coluna1'].dropna()

A   -99.0
C    88.0
F    -7.0
H   -11.0
Name: coluna1, dtype: float64

In [37]:
# dropar todas as linhas que tenha pelo menos 1 NA
df.dropna()

      coluna1     coluna2    coluna3     coluna4
A  -95.838618  -94.241305  39.744034   58.530966
B  144.731121   80.008149  29.495600   31.458774
C  -31.562809 -150.972227 -99.102284 -223.863401
D  -98.075027 -101.482518 -36.459573  159.256199
E  103.359697   18.726144  15.796403   25.209618
F   48.443298 -143.246145  33.791425   69.974664
G   48.335254  -23.142381  55.154142  117.199396
H   30.352433  -33.407121 -23.698385  -13.143789
I    4.995713  -59.806696  71.088635  -10.142405

# 5. Dados duplicados <a name="duplicados"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [44]:
df_dup = pd.concat([df.loc['D':'H']] * 2).sort_index()
df_dup

   coluna1     coluna2             coluna3     coluna4
D      NaN   35.784802   64.12764185955815  116.429591
D      NaN   35.784802   64.12764185955815  116.429591
E      NaN    6.446556                 NaN         NaN
E      NaN    6.446556                 NaN         NaN
F     -7.0 -198.147357  -52.02705783208168   13.537299
F     -7.0 -198.147357  -52.02705783208168   13.537299
G      NaN   42.782907   43.78693589411433  133.223282
G      NaN   42.782907   43.78693589411433  133.223282
H    -11.0  200.543419   70.77757103958568   15.182486
H    -11.0  200.543419   70.77757103958568   15.182486

In [45]:
df_dup.drop_duplicates()

   coluna1     coluna2             coluna3     coluna4
D      NaN   35.784802   64.12764185955815  116.429591
E      NaN    6.446556                 NaN         NaN
F     -7.0 -198.147357  -52.02705783208168   13.537299
G      NaN   42.782907   43.78693589411433  133.223282
H    -11.0  200.543419   70.77757103958568   15.182486

In [46]:
df_dup.drop_duplicates(subset=['coluna1'])

   coluna1     coluna2             coluna3     coluna4
D      NaN   35.784802   64.12764185955815  116.429591
F     -7.0 -198.147357  -52.02705783208168   13.537299
H    -11.0  200.543419   70.77757103958568   15.182486

In [47]:
df_dup.duplicated()

D    False
D     True
E    False
E     True
F    False
F     True
G    False
G     True
H    False
H     True
dtype: bool

In [48]:
df_dup[df_dup.duplicated()]

   coluna1     coluna2             coluna3     coluna4
D      NaN   35.784802   64.12764185955815  116.429591
E      NaN    6.446556                 NaN         NaN
F     -7.0 -198.147357  -52.02705783208168   13.537299
G      NaN   42.782907   43.78693589411433  133.223282
H    -11.0  200.543419   70.77757103958568   15.182486

# 6. Mapeamentos <a name="map"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [49]:
# 1 feminino, 0 masculino
genero = pd.Series([1,0,1,1,1,1,0,0,0,1,1,0])
genero

0     1
1     0
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     1
10    1
11    0
dtype: int64

In [50]:
genero.map({1:'Feminino', 0:'Masculino'})

0      Feminino
1     Masculino
2      Feminino
3      Feminino
4      Feminino
5      Feminino
6     Masculino
7     Masculino
8     Masculino
9      Feminino
10     Feminino
11    Masculino
dtype: object

In [51]:
genero_2 = genero.map({1:'Feminino', 0:'Masculino'})

In [52]:
genero.map({1:'Feminino', 2:'Masculino'})

0     Feminino
1          NaN
2     Feminino
3     Feminino
4     Feminino
5     Feminino
6          NaN
7          NaN
8          NaN
9     Feminino
10    Feminino
11         NaN
dtype: object

In [54]:
genero_2.map('Genero: {}'.format)

0      Genero: Feminino
1     Genero: Masculino
2      Genero: Feminino
3      Genero: Feminino
4      Genero: Feminino
5      Genero: Feminino
6     Genero: Masculino
7     Genero: Masculino
8     Genero: Masculino
9      Genero: Feminino
10     Genero: Feminino
11    Genero: Masculino
dtype: object